<h3>Detalle de carrito id {{cart}}</h3>

<div class="flexContainer">
    <ul id="cartDetailUl"></ul>
</div>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cartDetail.js"></script> 