<h3>Detalle de carrito id {{cart}}</h3>

<table id="cartDetailTable" >
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Valor unitario</th>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="cartDetailBody">
        <tr>
            <th> <div class="title">
                <a href="#/products/${productDetail._id}"> ${productDetail.title} </a>
                <p>${productDetail._id}</p>
            </div> </th>
            <th>${producto.quantity} </th>
            <th>${productDetail.price} </th>
            <th>${producto.quantity * productDetail.price}</th>
            <th> <a href="#">btnQuitar</a> </th>
            <th> <a href="#">btnAgregar</a> </th>
            <th> <a href="#">btnEliminar</a> </th>
        </tr>

    </tbody>
</table>

<div>
    <button id="volverAlHome">Volver al home</button>
    <button id="confirmarCompra">Reservar compra</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cartDetail.js"></script>

<script>
    // Agregar evento de clic al botón "Volver al home"
    document.getElementById('volverAlHome').addEventListener('click', () => {
        window.location.href = `${baseURL}/home`;
    });

    // Agregar evento de clic al botón "Confirmar compra"
    document.getElementById('confirmarCompra').addEventListener('click', () => {
        console.log('clik en Reservar compra')
        handleReserveCart();
    });
</script>