<h1>HOME</h1>

<div id="user-info">
    <h3>Welcome <span id="first-name"></span>, your email is: <span id="email"></span></h3>
    <p>Your cart ID is: <span id="cart-id"></span></p>
</div>


<h3>Productos:</h3>
<ul id="productList"></ul>


<script src="/js/homeView.js"></script>