<h1>HOME</h1>

<h3>Welcome {{first_name}}, your email is: {{email}}</h3>
<p id="cartId" data-cartid="{{cart}}">Tu carrito es el {{cart}}</p>


<h3>Productos:</h3>
<ul id="productList"></ul>
<script>
    
</script>

<script src="/js/homeView.js"></script>