
<h1>SIGNUP</h1>
User
<form id="signupForm" >
    FirstName: <input type="text" name="first_name" id="first_name">
    LastName: <input type="text" name="last_name" id="last_name">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <button type="button" id="localSignup">Local Signup</button>
    <button type="button" id="passportSignup">Passport Signup</button>
    <button type="button" id="githubSignup">Github Signup</button>
</form>
<p>Si ya estás registrado, <a href="{{baseURL}}/login">Ingresá a tu cuenta</a></p>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const baseURL = "http://localhost:8080";
        
        
        const localSignupBtn = document.getElementById('localSignup');
        const passportSignupBtn = document.getElementById('passportSignup');
        const githubSignupBtn = document.getElementById('githubSignup');
        

        localSignupBtn.addEventListener('click', () => {
            sendForm(`${baseURL}/api/auth/registro`);
        });

        passportSignupBtn.addEventListener('click', () => {
            //sendForm(`${baseURL}/api/auth/passportsignup`);
            alert('esta funciòn aun no está implementada!, estamos trabajando para brindarte mas opciones de registro')
        });

        githubSignupBtn.addEventListener('click', (event) => {
        // Detener el comportamiento predeterminado de enviar el formulario
            event.preventDefault();
            alert('esta funciòn aun no está implementada!, estamos trabajando para brindarte mas opciones de registro')
        });

        function sendForm(url) {
            
            const first_name = document.getElementById('first_name').value;
            const last_name = document.getElementById('last_name').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            
            console.log('solicitud Fetch a', url)
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    first_name: first_name,
                    last_name: last_name,
                    email: email,
                    password: password,
                })
            })
                .then(response => {
                    // Manejar la respuesta del servidor aquí
                    console.log('Respuesta recibida:', response);
                    if (response.status === 200) {
                        // Registro exitoso, procedemos a iniciar sesión
                        loginUser(email, password);
                    }
                })
                .catch(error => {
                    // Manejar cualquier error
                    console.error('Error al enviar la petición:', error);
                });
        }

        function loginUser(email, password) {
            fetch(`${baseURL}/api/auth/login`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email,
                    password: password,
                })
            })
                .then(response => {
                    console.log('Respuesta recibida:', response);
                    if (response.status === 200) {
                        response.json().then(data => {
                            // Almacenar el token en una cookie con una duración de 1 hora
                            document.cookie = `token=${data.token}; expires=${new Date(Date.now() + 3600000).toUTCString()}; path=/`;
                        
                            // Almacenar la información del usuario en el localStorage
                            localStorage.setItem('APIuser', JSON.stringify({
                            first_name: data.user.first_name,
                            last_name: data.user.last_name,
                            email: data.user.email,
                            from_github: data.user.from_github,
                            cart: data.user.cart,
                            _id: data.user._id
                        }));
                        
                            // Redirigir al usuario a la página de inicio
                            window.location.href = `${baseURL}/home`;
                        });
                    }
                })
                .catch(error => {
                    console.error('Error al enviar la petición:', error);
                });
        }

    });
</script>